Port 22
ListenAddress 0.0.0.0
HostKey /etc/ssh/ssh_host_ed25519_key
PidFile /run/sshd.pid
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication yes
KbdInteractiveAuthentication no
PermitRootLogin no
AllowUsers fixture
AllowTcpForwarding yes
GatewayPorts no
UsePAM no
PrintMotd no
Subsystem sftp internal-sftp
