<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="OpsSSH" Manufacturer="OpsSSH" Version="$(var.Version)" Language="1033"
           UpgradeCode="8F2BC548-64B5-41DE-9F46-EB0902D4DAF2" Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of OpsSSH is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="opsssh.exe" SourceFile="$(var.Stage)/opsssh.ico" />
    <Property Id="ARPPRODUCTICON" Value="opsssh.exe" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/priyansx01/OpsSSH" />
    <StandardDirectory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="OpsSSH">
          <Component Id="Application" Guid="4C7D0474-1A27-42F8-A140-11D9C017F36C">
            <File Id="OpsSSHExe" Source="$(var.Stage)/opsssh.exe" />
            <RegistryValue Root="HKCU" Key="Software\OpsSSH\Installer" Name="Application" Type="integer" Value="1" KeyPath="yes" />
            <RemoveFolder Id="RemoveInstallFolder" On="uninstall" />
          </Component>
          <Component Id="Branding" Guid="1636DAF6-2A87-42C0-9E73-68E4C7B0AB01">
            <RegistryValue Root="HKCU" Key="Software\OpsSSH\Installer" Name="Branding" Type="integer" Value="1" KeyPath="yes" />
            <File Source="$(var.Stage)/opsssh.ico" />
            <File Source="$(var.Stage)/opsssh.png" />
            <File Source="$(var.Stage)/opsssh-mascot.svg" />
          </Component>
          <Component Id="Documentation" Guid="BBCB5B76-60F1-43CA-8EED-4A726230F17A">
            <RegistryValue Root="HKCU" Key="Software\OpsSSH\Installer" Name="Documentation" Type="integer" Value="1" KeyPath="yes" />
            <File Source="$(var.Stage)/LICENSE-MIT" />
            <File Source="$(var.Stage)/LICENSE-APACHE" />
            <File Source="$(var.Stage)/THIRD-PARTY-LICENSES.html" />
            <File Source="$(var.Stage)/README.md" />
            <File Source="$(var.Stage)/CHANGELOG.md" />
            <File Source="$(var.Stage)/build-info.json" />
          </Component>
        </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="OpsSSHMenuFolder" Name="OpsSSH">
        <Component Id="StartMenuShortcut">
          <Shortcut Id="LaunchOpsSSH" Name="OpsSSH" Target="[#OpsSSHExe]"
                    WorkingDirectory="INSTALLFOLDER" Icon="opsssh.exe" />
          <RemoveFolder Id="RemoveStartMenuFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\OpsSSH\Installer" Name="Installed"
                         Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
    <Feature Id="Main" Title="OpsSSH" Level="1">
      <ComponentRef Id="Application" />
      <ComponentRef Id="Branding" />
      <ComponentRef Id="Documentation" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>
</Wix>
